.dashboard {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin-top: 2rem;
}

.rounded-box {
  /* must be changed later*/
  width: 300px;
  height: 80px;
  margin-left: 10px;
  background: linear-gradient(135deg, #444, #222);
  color: #fff; /* text color */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;

  animation: pan-right 0.5s ease forwards;
}

.rounded-box:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);

}

@keyframes pan-right {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(50px);
  }
}

@media (max-width: 600px) {
  .rounded-box {
    width: 90%;
    height: 70px;
    font-size: 1rem;
  }
}
